@charset "utf-8";
/* register & login */

.w1000{
  width:1000px;
  margin:0 auto;
}

.login_page{
  border-bottom:solid 1px #eee;
}

.login_page .main_inner{
  width:1000px;
  height:500px;
  margin:10px auto 30px auto;
  background:url(../images/login/login_bg.jpg) no-repeat 0 0;
  border:solid 1px #eee;
}

.login_page .main_inner .pull_left{margin: 80px 0 0 60px;}
.login_page .events { width:200px; padding-left: 160px; background:url(../images/login/events_6_1.png) no-repeat 0 0; }
.login_page .events .title{ font-size:40px; line-height:44px; font-weight: bold; color:#c7000a;}
.login_page .events .more{ float: right;margin-top: 20px;}
.login_page .events a{ color:#c7000a;}


.login_form{ margin: 80px 120px; }
.login_form dl{  height: 34px; margin-bottom: 10px; }
.login_form dt{ width: 80px; float:left; line-height: 34px; font-size: 14px; color:#333; text-align: right; }
.login_form dd{ width:226px; height:16px; padding:8px; float:left; border: solid 1px #ccc; }
.login_form .user_name dd{ background:#fff url(../images/login/login_ico.gif) no-repeat right 0; }
.login_form .password dd{ background:#fff url(../images/login/login_ico.gif) no-repeat right -32px; }
.login_form dd .text{ width:200px; height:16px; line-height:16px; padding:0; margin: 0; border:none; }

.login_form .submit{ width:200px; height:34px; float: right; padding:0; margin-top: 10px; font-size:16px; color:#fff; text-align:center; background:url(../images/login/submit_bg.gif); border:0; -webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;}


